*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
    background-color: #ccc;

}

.card{
    max-width: 1200px;
    background-color: white;
    margin: 60px auto;
    -webkit-box-shadow:0px 0px 18px 14px rgba(62,66,66,0.4);
    -moz-box-shadow: 0px 0px 18px 14px rgba(62,66,66,0.4);
    box-shadow: 0px 0px 18px 14px rgba(62,66,66,0.4);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.img{
    transition: 0.6s;
}

.img img{
    width: 600px;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.6s;
    
}

.img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.text{
    max-width: 600px;
    min-width: 320px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.textRight{
    padding: 15px;
    margin: 15px;
}

.textRightHeader{
    text-align: center;
}

.textRightPrice{
    text-align: center;
}

.btn{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #b1b1b1;
    padding: 25px;
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

.btn:hover{
    transition: 0.4s;
    background-color: #3e3e3e;
    color: white;
    
}

.btn:active,
.btn:focus{
}

.btn a{
    color: #000000;
    text-decoration: none;
}

.price{
    color:#ff4800;
    font-weight: bold;
}

@media (max-width:320px) {
    .img img{
        width: 320px;
        height: 320px;
    }

    body{
        font-size: 14px;
        line-height: 18px;
    }

    .btn{
        font-size: 18px;
    }

    .card{
        width: 320px;
        height: 900px;
    }
    .text{
        position: absolute;
        left: 0;
        bottom: 30%;
    }

}